.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  background: coral;
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
}
.form button {
  width: 100px;
  margin: 10px auto;
  padding: 8px 15px;

}